{
  "openapi": "3.0.0",
  "info": { "title": "GnosisPay API", "version": "1.0.0", "description": "OpenAPI documentation for GnosisPay" },
  "tags": [
    { "name": "Account Management", "description": "Information about your Account" },
    { "name": "Authentication", "description": "Authenticate to our API using SIWE" },
    { "name": "Card Management", "description": "Manage all your Cards" },
    { "name": "IBAN", "description": "Integrate with Monerium to issue IBANs" },
    { "name": "KYC", "description": "KYC using Sumsub SDK" },
    { "name": "Physical Card Order", "description": "Order a Physical Card and manage the process" },
    { "name": "Rewards", "description": "Cashback Rewards" },
    { "name": "Safe Management", "description": "Manage your Safe" },
    { "name": "Transactions", "description": "Manage Card Transactions" },
    { "name": "User", "description": "Manage User Information" },
    { "name": "Webhooks", "description": "Manage Webhooks" }
  ],
  "servers": [{ "url": "https://api.gnosispay.com" }],
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" } },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "properties": { "auth": { "type": "object", "nullable": true, "$ref": "#/components/schemas/Authorization" } }
      },
      "Authorization": {
        "type": "object",
        "required": ["userId", "iat", "exp", "hasSignedUp"],
        "properties": {
          "userId": { "type": "string" },
          "signerAddress": { "type": "string", "nullable": true },
          "chainId": { "type": "string", "nullable": true },
          "iat": { "type": "number" },
          "exp": { "type": "number" },
          "hasSignedUp": { "type": "boolean" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "description": "Error message", "example": "Internal server error" }
        }
      },
      "Card": {
        "type": "object",
        "required": ["id", "lastFourDigits"],
        "properties": {
          "id": { "type": "string" },
          "cardToken": { "type": "string" },
          "lastFourDigits": { "type": "string" },
          "activatedAt": { "type": "string", "nullable": true, "format": "date-time" },
          "virtual": { "type": "boolean" }
        }
      },
      "CardOrder": {
        "type": "object",
        "required": ["id", "createdAt", "status", "personalizationSource", "totalDiscountEUR"],
        "properties": {
          "id": { "type": "string" },
          "transactionHash": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "status": {
            "type": "string",
            "description": "Current order status in the state machine. See the state transition diagram in the documentation for valid transitions.",
            "enum": [
              "PENDINGTRANSACTION",
              "TRANSACTIONCOMPLETE",
              "CONFIRMATIONREQUIRED",
              "READY",
              "CARDCREATED",
              "FAILEDTRANSACTION",
              "CANCELLED"
            ],
            "example": "PENDINGTRANSACTION"
          },
          "personalizationSource": { "type": "string", "enum": ["KYC", "ENS"] },
          "embossedName": { "type": "string" },
          "address1": { "type": "string" },
          "address2": { "type": "string" },
          "city": { "type": "string" },
          "country": { "type": "string" },
          "postalCode": { "type": "string" },
          "state": { "type": "string" },
          "couponCode": { "type": "string" },
          "totalAmountEUR": { "type": "number", "format": "double" },
          "totalDiscountEUR": { "type": "number", "format": "double" },
          "virtual": { "type": "boolean" }
        }
      },
      "TermsBody": {
        "type": "object",
        "required": ["terms", "version"],
        "properties": {
          "terms": {
            "type": "string",
            "enum": ["general-tos", "card-monavate-tos", "cashback-tos", "privacy-policy"],
            "description": "Type of terms and conditions"
          },
          "version": { "type": "string", "description": "Version of the terms document" }
        }
      },
      "CardAlreadyActiveError": {
        "type": "object",
        "properties": { "error": { "type": "string", "enum": ["Card has been already activated"] } }
      },
      "CardBlockedError": {
        "type": "object",
        "properties": { "error": { "type": "string", "enum": ["The card is blocked"] } }
      },
      "AssociatedSafeAccountNotFoundError": {
        "type": "object",
        "properties": { "error": { "type": "string", "enum": ["Couldn't find an associated Safe account"] } }
      },
      "DelayTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the delayed transaction.",
            "example": "clp3j1f9a0000a1cdh6ezx2qv"
          },
          "safeAddress": {
            "type": "string",
            "description": "The Safe contract address associated with the transaction.",
            "example": "0x1234567890abcdef1234567890abcdef12345678"
          },
          "transactionData": {
            "type": "string",
            "description": "Data payload of the transaction.",
            "example": "0xabcdef"
          },
          "enqueueTaskId": {
            "type": "string",
            "description": "Identifier of the task that enqueued this transaction.",
            "example": "task_abc123"
          },
          "dispatchTaskId": {
            "type": "string",
            "nullable": true,
            "description": "Identifier of the task responsible for dispatching this transaction.",
            "example": "task_def456"
          },
          "readyAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp indicating when the transaction is ready for processing.",
            "example": "2025-02-07T12:34:56Z"
          },
          "operationType": {
            "type": "string",
            "enum": ["CALL", "DELEGATECALL"],
            "description": "Type of operation being performed.",
            "example": "CALL"
          },
          "userId": {
            "type": "string",
            "description": "Identifier of the user associated with the transaction.",
            "example": "user_123"
          },
          "status": {
            "type": "string",
            "enum": ["QUEUING", "WAITING", "EXECUTING", "EXECUTED", "FAILED"],
            "description": "Current status of the transaction.",
            "example": "QUEUING"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the transaction was created.",
            "example": "2025-02-07T12:34:56Z"
          }
        }
      },
      "AccountAllowance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "string",
            "description": "The current balance of the account's allowance.",
            "example": "1000000000000000000"
          },
          "refill": {
            "type": "string",
            "description": "The refill amount for the account's allowance.",
            "example": "2000000000000000000"
          },
          "period": { "type": "string", "description": "The period for allowance refills.", "example": "86400" },
          "nextRefill": {
            "type": "string",
            "nullable": true,
            "description": "The timestamp for the next refill, if available.",
            "example": "1633046400"
          }
        }
      },
      "AccountIntegrityStatus": {
        "type": "integer",
        "description": "Enum representing the integrity status of the account",
        "enum": [0, 1, 2, 3, 4, 5, 6, 7, 8],
        "x-enum-descriptions": [
          "Ok (0): The account is in good standing with no issues",
          "SafeNotDeployed (1): The Safe account has not been deployed yet",
          "SafeMisconfigured (2): The Safe account has configuration issues",
          "RolesNotDeployed (3): The Roles module has not been deployed",
          "RolesMisconfigured (4): The Roles module has configuration issues",
          "DelayNotDeployed (5): The Delay module has not been deployed",
          "DelayMisconfigured (6): The Delay module has configuration issues",
          "DelayQueueNotEmpty (7): The Delay queue contains pending transactions",
          "UnexpectedError (8): An unexpected error occurred during validation"
        ],
        "example": 0
      },
      "SafeConfig": {
        "type": "object",
        "properties": {
          "hasNoApprovals": {
            "type": "boolean",
            "description": "Indicates whether the safe has no approvals.",
            "example": false
          },
          "isDeployed": {
            "type": "boolean",
            "description": "Indicates whether the safe is deployed.",
            "example": true
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "The address of the safe, if available.",
            "example": "0xabcdef1234567890abcdef1234567890abcdef12"
          },
          "tokenSymbol": {
            "type": "string",
            "nullable": true,
            "description": "The token symbol associated with the safe.",
            "example": "EURe"
          },
          "fiatSymbol": {
            "type": "string",
            "nullable": true,
            "description": "The fiat symbol derived from the token symbol.",
            "example": "EUR"
          },
          "accountStatus": {
            "$ref": "#/components/schemas/AccountIntegrityStatus",
            "nullable": true,
            "description": "The integrity status of the account.\n\nPossible values:\n- **Ok (0)**: The account is in good standing with no issues\n- **SafeNotDeployed (1)**: The Safe account has not been deployed yet\n- **SafeMisconfigured (2)**: The Safe account has configuration issues\n- **RolesNotDeployed (3)**: The Roles module has not been deployed\n- **RolesMisconfigured (4)**: The Roles module has configuration issues\n- **DelayNotDeployed (5)**: The Delay module has not been deployed\n- **DelayMisconfigured (6)**: The Delay module has configuration issues\n- **DelayQueueNotEmpty (7)**: The Delay queue contains pending transactions\n- **UnexpectedError (8)**: An unexpected error occurred during validation\n"
          },
          "accountAllowance": {
            "$ref": "#/components/schemas/AccountAllowance",
            "nullable": true,
            "description": "The allowance details for the account."
          }
        }
      },
      "KycQuestion": {
        "type": "object",
        "properties": {
          "question": { "type": "string", "description": "The text of the question." },
          "answers": {
            "type": "array",
            "items": { "type": "string" },
            "description": "The possible answers to the question."
          }
        }
      },
      "KycAnswer": {
        "type": "object",
        "properties": {
          "question": { "type": "string", "description": "The text of the question being answered." },
          "answer": { "type": "string", "description": "The user's answer to the question." }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "symbol": { "type": "string" },
          "code": { "type": "string" },
          "decimals": { "type": "integer" },
          "name": { "type": "string" }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "numeric": { "type": "string" },
          "alpha2": { "type": "string" },
          "alpha3": { "type": "string" }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["Unsubmitted", "Unconfirmed", "ExecReverted", "ExecSuccess"] },
          "to": { "type": "string" },
          "value": { "type": "string", "description": "A BigInt value represented as a string" },
          "data": { "type": "string" },
          "hash": { "type": "string", "nullable": true }
        }
      },
      "BasePaymentish": {
        "type": "object",
        "properties": {
          "threadId": { "type": "string", "description": "Thread ID for the transaction", "example": "1234567890" },
          "createdAt": { "type": "string", "format": "date-time" },
          "clearedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date of the latest clearing record of the transaction"
          },
          "country": { "$ref": "#/components/schemas/Country" },
          "isPending": {
            "type": "boolean",
            "description": "Whether the transaction is pending settlement.\n- For Payments: true when authorized but not yet cleared, false when settled\n- For Refunds: can be true if additional clearing steps are pending, typically false since they require both auth + clearing to appear\n- For Reversals: typically false as they're usually processed quickly\n"
          },
          "impactsCashback": {
            "type": "boolean",
            "nullable": true,
            "description": "Indicates whether this transaction impacted cashback eligibility:\n- `true`: Transaction was eligible for and impacted cashback\n- `false`: Transaction did not impact cashback (not eligible)\n- `null`: Unable to determine (e.g., before user accepted cashback terms)\n"
          },
          "mcc": { "type": "string" },
          "merchant": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "city": { "type": "string" },
              "country": { "$ref": "#/components/schemas/Country" }
            }
          },
          "billingAmount": { "type": "string", "description": "A BigInt value represented as a string" },
          "billingCurrency": { "$ref": "#/components/schemas/Currency" },
          "transactionAmount": { "type": "string", "description": "A BigInt value represented as a string" },
          "transactionCurrency": { "$ref": "#/components/schemas/Currency" },
          "transactionType": {
            "type": "string",
            "description": "First 2 digits of the DE3 field (ISO 8583), representing the transaction type code.\nCommon values include (not limited to):\n- \"00\": Purchase (POS)\n- \"01\": Withdrawal (ATM)\n- \"10\": Account Funding\n- \"20\": Return of Goods\n- \"28\": Prepaid Load\n- \"30\": Balance Inquiry\n- \"70\": PIN Change\n- \"72\": PIN Unblock\n"
          },
          "cardToken": { "type": "string", "description": "The token identifying the card used for this transaction" },
          "transactions": { "type": "array", "items": { "$ref": "#/components/schemas/Transaction" } }
        }
      },
      "Payment": {
        "allOf": [
          { "$ref": "#/components/schemas/BasePaymentish" },
          {
            "type": "object",
            "properties": {
              "kind": { "type": "string", "enum": ["Payment"] },
              "status": {
                "type": "string",
                "enum": [
                  "Approved",
                  "IncorrectPin",
                  "InsufficientFunds",
                  "ExceedsApprovalAmountLimit",
                  "InvalidAmount",
                  "PinEntryTriesExceeded",
                  "IncorrectSecurityCode",
                  "Reversal",
                  "PartialReversal",
                  "Other"
                ]
              }
            }
          }
        ]
      },
      "Refund": {
        "allOf": [
          { "$ref": "#/components/schemas/BasePaymentish" },
          {
            "type": "object",
            "properties": {
              "kind": { "type": "string", "enum": ["Refund"] },
              "refundAmount": { "type": "string", "description": "A BigInt value represented as a string" },
              "refundCurrency": { "$ref": "#/components/schemas/Currency" }
            }
          }
        ]
      },
      "Reversal": {
        "allOf": [
          { "$ref": "#/components/schemas/BasePaymentish" },
          {
            "type": "object",
            "properties": {
              "kind": { "type": "string", "enum": ["Reversal"] },
              "reversalAmount": { "type": "string", "description": "A BigInt value represented as a string" },
              "reversalCurrency": { "$ref": "#/components/schemas/Currency" }
            }
          }
        ]
      },
      "Event": {
        "oneOf": [
          { "$ref": "#/components/schemas/Payment" },
          { "$ref": "#/components/schemas/Refund" },
          { "$ref": "#/components/schemas/Reversal" }
        ]
      },
      "EOAAccount": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "clp3j1f9a0000a1cdh6ezx2qv" },
          "address": { "type": "string", "example": "0x1234567890abcdef1234567890abcdef12345678" },
          "userId": { "type": "string", "example": "user_123" },
          "createdAt": { "type": "string", "format": "date-time", "example": "2025-01-27T00:00:00Z" }
        }
      },
      "MoneriumIntegrationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "required": ["success", "status", "description"],
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Indicates whether the Monerium integration was successfully created",
                "example": true
              },
              "status": { "type": "number", "description": "HTTP status code of the operation", "example": 200 },
              "description": {
                "type": "string",
                "description": "Human-readable description of the operation result",
                "example": "Successfully setup Monerium integration"
              },
              "responseData": {
                "type": "object",
                "description": "Raw response data from Monerium API (only present on errors)",
                "nullable": true
              },
              "moneriumProfileId": {
                "type": "string",
                "description": "The Monerium profile ID assigned to the user (only present on success)",
                "nullable": true,
                "example": "profile_123456789"
              },
              "iban": {
                "type": "string",
                "description": "The assigned IBAN number (only present on success)",
                "nullable": true,
                "example": "DE44500105175407324931"
              },
              "bic": {
                "type": "string",
                "description": "The assigned BIC code (only present on success)",
                "nullable": true,
                "example": "GENODEM1GLS"
              },
              "responseHeaders": {
                "type": "object",
                "description": "Headers from the Monerium API response (only present on errors)",
                "nullable": true,
                "example": { "content-type": "application/json" }
              }
            }
          }
        }
      },
      "IbanOrder": {
        "type": "object",
        "required": ["id", "kind", "currency", "amount", "address", "counterpart", "state", "meta"],
        "properties": {
          "id": { "type": "string", "description": "Unique identifier for the order." },
          "kind": { "type": "string", "enum": ["redeem", "issue"], "description": "Type of order." },
          "currency": {
            "type": "string",
            "enum": ["eur", "usd", "gbp", "isk"],
            "description": "Currency of the order."
          },
          "amount": { "type": "string", "description": "Amount of the transaction in string format." },
          "address": { "type": "string", "description": "Ethereum address associated with the order." },
          "counterpart": {
            "type": "object",
            "required": ["details", "identifier"],
            "properties": {
              "details": { "type": "object", "properties": { "name": { "type": "string" } } },
              "identifier": {
                "type": "object",
                "oneOf": [
                  {
                    "properties": { "standard": { "type": "string", "enum": ["iban"] }, "iban": { "type": "string" } },
                    "required": ["standard", "iban"]
                  },
                  {
                    "properties": {
                      "standard": { "type": "string", "enum": ["chain"] },
                      "address": { "type": "string" },
                      "chain": { "type": "string" }
                    },
                    "required": ["standard", "address", "chain"]
                  }
                ]
              }
            },
            "description": "Counterparty details."
          },
          "memo": { "type": "string", "nullable": true, "description": "Optional memo for the order." },
          "state": {
            "type": "string",
            "enum": ["placed", "pending", "processed", "rejected"],
            "description": "State of the order."
          },
          "meta": {
            "type": "object",
            "required": ["placedAt"],
            "properties": {
              "placedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the order was placed."
              }
            }
          }
        }
      },
      "KYCStatus": {
        "type": "string",
        "enum": [
          "notStarted",
          "documentsRequested",
          "pending",
          "processing",
          "approved",
          "resubmissionRequested",
          "rejected",
          "requiresAction"
        ]
      },
      "SafeAccount": {
        "type": "object",
        "required": ["address", "createdAt"],
        "properties": {
          "address": { "type": "string" },
          "chainId": { "type": "string" },
          "tokenSymbol": { "type": "string", "example": "EURe" },
          "createdAt": { "type": "string", "format": "date-time", "example": "2025-01-27T00:00:00Z" }
        }
      },
      "BankingDetails": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "address": { "type": "string" },
          "moneriumIban": { "type": "string" },
          "moneriumBic": { "type": "string" },
          "moneriumIbanStatus": { "type": "string" },
          "userId": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time", "example": "2025-01-27T00:00:00Z" },
          "updatedAt": { "type": "string", "format": "date-time", "example": "2025-01-27T00:00:00Z" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "firstName": { "type": "string", "nullable": true },
          "lastName": { "type": "string", "nullable": true },
          "address1": { "type": "string", "nullable": true },
          "address2": { "type": "string", "nullable": true },
          "city": { "type": "string", "nullable": true },
          "postalCode": { "type": "string", "nullable": true },
          "state": { "type": "string", "nullable": true },
          "country": { "type": "string", "nullable": true },
          "nationalityCountry": { "type": "string", "nullable": true },
          "signInWallets": { "type": "array", "items": { "$ref": "#/components/schemas/EOAAccount" } },
          "safeWallets": { "type": "array", "items": { "$ref": "#/components/schemas/SafeAccount" } },
          "kycStatus": { "$ref": "#/components/schemas/KYCStatus" },
          "availableFeatures": { "type": "object", "properties": { "moneriumIban": { "type": "boolean" } } },
          "cards": { "type": "array", "items": { "$ref": "#/components/schemas/Card" } },
          "bankingDetails": { "type": "object", "nullable": true, "$ref": "#/components/schemas/BankingDetails" },
          "isSourceOfFundsAnswered": { "type": "boolean" },
          "isPhoneValidated": { "type": "boolean" },
          "partnerId": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["ACTIVE", "DEACTIVATED"] }
        }
      }
    },
    "responses": {
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "UnauthorizedError": {
        "description": "Unauthorized Error",
        "content": {
          "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" } } } }
        }
      }
    }
  },
  "paths": {
    "/api/v1/account-balances": {
      "get": {
        "summary": "Retrieve Account Balance",
        "description": "Retrieves the balance information for the authenticated user (total, spendable and pending balances)",
        "tags": ["Account Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "The account balance details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["total", "spendable", "pending"],
                  "properties": {
                    "total": {
                      "type": "string",
                      "format": "^[0-9]+$",
                      "description": "The total balance for this account (spendable and pending)."
                    },
                    "spendable": {
                      "type": "string",
                      "format": "^[0-9]+$",
                      "description": "The amount that can be spent from this account."
                    },
                    "pending": {
                      "type": "string",
                      "format": "^[0-9]+$",
                      "description": "The amount that is being reviewed for spending."
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/account": {
      "post": {
        "summary": "Create or Deploy a Safe (pending Setup)",
        "deprecated": true,
        "description": "This endpoint serves two purposes - it first checks if a Safe account exists for the user. If no account exists, it creates one and initiates deployment.\nIf an account already exists but is not deployed, it initiates the deployment process.\n\nThis endpoint can be called immediately after user signup as there are no restrictions or prerequisites.\n\nWhen deploying a new Safe, the endpoint waits for transaction execution and confirmation on-chain.\nBecause of this, the request may take up to 10 seconds to complete when a deployment is needed.\n\nThe deployment process is handled by a sponsored transaction on the Gnosis Chain, and the response\nincludes the transaction hash for tracking the deployment status.\n\nNext steps after successful deployment is to setup the Safe:\n- Once this endpoint successfully creates and deploys a Safe account, the user should call\n  the `/api/v1/safe/set-currency` endpoint to set the currency for the account.\n- Note that the `/api/v1/safe/set-currency` endpoint requires the user to have completed\n  the KYC process successfully.\n- Then, the user should call the `/api/v1/account/signature-payload` endpoint to get the signature data for the account setup.\n- Finally, the user should call the `/api/v1/account/deploy-safe-modules` endpoint to deploy the Safe modules with the user's signature.\n",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["chainId"],
                "properties": {
                  "chainId": {
                    "type": "string",
                    "enum": ["100"],
                    "description": "The ID of chain (currently only supports Gnosis Chain)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or checked Safe account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "description": "The Safe account ID" },
                    "address": { "type": "string", "description": "The Safe account address" },
                    "userId": { "type": "string", "description": "ID of the user owning this Safe" },
                    "chainId": { "type": "string", "description": "ID of the blockchain" },
                    "salt": { "type": "string", "description": "Salt used for Safe address generation" },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of when the Safe was created"
                    },
                    "deployed": { "type": "boolean", "description": "Whether the Safe is deployed on-chain" },
                    "transactionHash": {
                      "type": "string",
                      "description": "Transaction hash of the deployment transaction (if completed)"
                    }
                  }
                },
                "examples": {
                  "deployedSafe": {
                    "summary": "Response when Safe is already deployed",
                    "value": {
                      "id": "safe-account-id-123",
                      "address": "0x1234567890123456789012345678901234567890",
                      "userId": "user123",
                      "chainId": "100",
                      "salt": "some-salt-value",
                      "createdAt": "2024-01-01T00:00:00Z",
                      "deployed": true
                    }
                  },
                  "newlyDeployedSafe": {
                    "summary": "Response when Safe deployment is initiated and completed",
                    "value": {
                      "id": "safe-account-id-123",
                      "address": "0x1234567890123456789012345678901234567890",
                      "userId": "user123",
                      "chainId": "100",
                      "salt": "some-salt-value",
                      "createdAt": "2024-01-01T00:00:00Z",
                      "deployed": true,
                      "transactionHash": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing parameters or signer address)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "description": "Error message" } }
                },
                "examples": {
                  "missingSignerAddress": { "value": { "error": "Missing signer address" } },
                  "missingParameters": { "value": { "error": "Missing required parameters" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/account/signature-payload": {
      "get": {
        "summary": "Retrieve Signature Data for Account Setup",
        "deprecated": true,
        "description": "Returns the domain, types, and message objects needed for EIP-712 typed data signing.\nThis is typically used to prepare the data that needs to be signed by the user's wallet\nto set up account allowances and delays.\n\nThe response contains structured data compatible with the EIP-712 signature standard.\nAfter obtaining this data and signing it with the user's wallet, the signature can be\nsent to the `/api/v1/account/deploy-safe-modules` endpoint to complete the setup process.\n\nPrerequisites:\n- User must have a deployed Safe account\n- The Safe account must have a currency set (via `/api/v1/safe/set-currency`)\n",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Signature data for EIP-712 typed data signing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": { "type": "object", "description": "Domain data for EIP-712 signature" },
                    "primaryType": { "type": "string", "description": "Primary type for EIP-712 signature" },
                    "types": { "type": "object", "description": "Type definitions for EIP-712 signature" },
                    "message": { "type": "object", "description": "Message data for EIP-712 signature" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing account, token, or signer)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "description": "Error message explaining why the request failed" }
                  }
                },
                "examples": {
                  "accountNotFound": { "value": { "error": "Account not found" } },
                  "currencyNotSet": { "value": { "error": "Safe currency not set" } },
                  "missingSigner": { "value": { "error": "Missing signer address" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/account/deploy-safe-modules": {
      "patch": {
        "summary": "Setup Safe with Signature",
        "deprecated": true,
        "description": "Takes an EIP-712 signature provided by the user's wallet and executes the account setup transaction.\nThis is the second step in the account setup process, after obtaining the signature data\nfrom the GET /api/v1/account/signature-payload endpoint.\n\nThe process flow is:\n1. Call GET /api/v1/account/signature-payload to get the EIP-712 signature data\n2. Sign the data with the user's wallet\n3. Submit the signature to this endpoint to execute the transaction\n\nThis endpoint will wait for the transaction to be confirmed on-chain and return the\ntransaction hash when successful. Because it waits for on-chain confirmation, this request\nmay take up to 10 seconds to complete.\n\nThe setup process configures Safe account allowances and delay mechanisms required for secure operation.\n\nPrerequisites:\n- User must have a deployed Safe account\n- The Safe account must have a currency set (via /api/v1/safe/set-currency)\n- User must have signed the data from GET /api/v1/account/signature-payload\n",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["signature"],
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "The EIP-712 signature for the account setup transaction"
                  }
                }
              },
              "examples": {
                "signature": {
                  "value": {
                    "signature": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1b"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully executed setup transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionHash": {
                      "type": "string",
                      "description": "The transaction hash of the executed transaction"
                    },
                    "deployed": { "type": "boolean", "description": "Whether the account setup is deployed" }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "transactionHash": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890",
                      "deployed": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing parameters, account, or signer)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "description": "Error message explaining why the request failed" }
                  }
                },
                "examples": {
                  "accountNotFound": { "value": { "error": "Account not found" } },
                  "currencyNotSet": { "value": { "error": "Safe currency not set" } },
                  "missingSigner": { "value": { "error": "Missing signer address" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/auth/nonce": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Generate nonce",
        "responses": {
          "200": {
            "description": "Nonce generated successfully",
            "content": { "text/plain": { "schema": { "type": "string", "example": "a1b2c3d4e5f6" } } }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/auth/challenge": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Verify SIWE signature",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message", "signature"],
                "properties": {
                  "message": { "type": "string", "description": "SIWE message containing the nonce" },
                  "signature": { "type": "string", "description": "EOA signature or EIP-1271 contract signature" },
                  "ttlInSeconds": {
                    "type": "number",
                    "description": "Represents the duration of the token in seconds. If not provided, defaults to 1 hour. Maximum 24 hours.",
                    "default": 3600,
                    "maximum": 86400,
                    "minimum": 60
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "token": { "type": "string", "description": "JWT token for API authentication" } }
                }
              }
            }
          },
          "401": { "description": "Invalid signature" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/auth/signup": {
      "post": {
        "summary": "Create a new User",
        "description": "This endpoint creates a new `User` associating it with the provided email address.",
        "tags": ["Authentication"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["authEmail"],
                "properties": {
                  "authEmail": { "type": "string", "format": "email", "description": "Email address for the new user" },
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6,
                    "description": "One-time password for email verification (optional during transition period)"
                  },
                  "referralCouponCode": { "type": "string", "description": "Referral coupon code for the new user" },
                  "marketingCampaign": { "type": "string", "description": "Marketing campaign identifier" },
                  "partnerId": { "type": "string", "description": "Optional ID of the partner that referred the user" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "token", "hasSignedUp"],
                  "properties": {
                    "id": { "type": "string", "description": "Unique identifier of the created user" },
                    "token": { "type": "string", "description": "JWT token for authentication" },
                    "hasSignedUp": { "type": "boolean", "description": "Indicates if the user has completed signup" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid partner ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "example": "Invalid partner ID" } }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired OTP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "example": "Invalid or expired OTP" } }
                }
              }
            }
          },
          "409": {
            "description": "Email address or wallet address already registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Email address already registered or Wallet address already associated with another account"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "example": "Invalid email format" } }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Details about the server error",
                      "example": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/signup/otp": {
      "post": {
        "summary": "Request OTP for email verification",
        "description": "This endpoint generates and sends a one-time password (OTP) to the provided email address for verification purposes.",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email", "description": "Email address to send the OTP to" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP was sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok"],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Indicates if the OTP was sent successfully",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "422": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "example": "Invalid email format" } }
                }
              }
            }
          },
          "500": {
            "description": "Failed to send OTP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "example": "Failed to send OTP" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cards/{cardId}/activate": {
      "post": {
        "summary": "Activate a Card",
        "description": "## Prerequisites\n- Card must have not been activated\n- A Safe Account should be set for the authenticated user\n\nIf those conditions are met, the card is then activated.\nThe activated time will be the moment that this endpoint was triggered, in UTC.\n\n:::info\nThis action also notifies the user by email\n:::\n\n:::caution\n Be sure to have a Safe Account associated with the user. If a Safe Account is not tied to the user the endpoint will fail.\n\n To check if a user has a Safe Account, you can get the User details via `GET /api/v1/user` and check if there's at least one `safeWallets` tied to the user.\n\n A Safe Account can be created via `POST /api/v1/account`\n :::\n",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "cardId", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "The card was activated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "status": { "type": "string", "enum": ["Card activated successfully"] } }
                }
              }
            }
          },
          "400": { "description": "Missing signer address" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No card found" },
          "422": {
            "description": "Request could not be processed",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/CardAlreadyActiveError" },
                    { "$ref": "#/components/schemas/CardBlockedError" },
                    { "$ref": "#/components/schemas/AssociatedSafeAccountNotFoundError" }
                  ]
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards/{cardId}/freeze": {
      "post": {
        "summary": "Freeze a Card",
        "description": "This will prevent the card from being used for any transactions.\n\n:::info\nThe card can be frozen and unfrozen instantly and multiple times.\n:::\n",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "cardId", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Card frozen successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": { "status": { "type": "string", "enum": ["Card frozen successfully"] } }
                }
              }
            }
          },
          "400": { "description": "Invalid card status transition attempted" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No card found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards/{cardId}/lost": {
      "post": {
        "summary": "Report a Card as lost",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "cardId", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Card marked as lost successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": { "status": { "type": "string", "enum": ["Card marked as lost successfully"] } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No card found" },
          "409": {
            "description": "Card is already marked as lost",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": { "error": { "type": "string", "enum": ["Card is already marked as lost"] } }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards/{cardId}/status": {
      "get": {
        "summary": "Get a Card status",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "cardId", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Card Status was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["statusCode", "isFrozen", "isStolen", "isLost", "isBlocked", "isVoid"],
                  "properties": {
                    "activatedAt": { "type": "string", "format": "date-time" },
                    "statusCode": { "type": "number" },
                    "isFrozen": { "type": "boolean" },
                    "isStolen": { "type": "boolean" },
                    "isLost": { "type": "boolean" },
                    "isBlocked": { "type": "boolean" },
                    "isVoid": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No card found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards/{cardId}/stolen": {
      "post": {
        "summary": "Report a Card as stolen",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "cardId", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Card marked as stolen successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": { "status": { "type": "string", "enum": ["Card marked as stolen successfully"] } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No card found" },
          "409": {
            "description": "Card is already marked as stolen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": { "error": { "type": "string", "enum": ["Card is already marked as stolen"] } }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards/{cardId}/unfreeze": {
      "post": {
        "summary": "Revert a Card freeze",
        "description": "This will allow the card to be used for transactions. The card needs to be active and in a frozen state.\n\n:::info\nThe card can be frozen and unfrozen instantly and multiple times.\n:::\n",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "cardId", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Card unfrozen successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": { "status": { "type": "string", "enum": ["Card unfrozen successfully"] } }
                }
              }
            }
          },
          "400": { "description": "Invalid card status transition attempted" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No card found" },
          "422": { "description": "Card is not activated" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards/{cardId}/void": {
      "post": {
        "summary": "Void a Virtual Card",
        "description": "Void a virtual card. Only virtual cards can be voided using this endpoint.",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [{ "in": "path", "name": "cardId", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Card marked as void successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": { "status": { "type": "string", "enum": ["Card marked as void successfully"] } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No card found" },
          "422": {
            "description": "Card cannot be voided / Card is already voided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["Only virtual cards can be voided", "Card is already voided"]
                    }
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards": {
      "get": {
        "summary": "List all Cards",
        "tags": ["Card Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "exclude_voided",
            "schema": { "type": "boolean" },
            "description": "Exclude voided cards from the response"
          },
          {
            "in": "query",
            "name": "status_code",
            "schema": { "type": "string" },
            "description": "Filter cards by status code",
            "example": "1000,1001"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of cards for a user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "cardToken",
                      "lastFourDigits",
                      "activatedAt",
                      "virtual",
                      "statusCode",
                      "statusName"
                    ],
                    "properties": {
                      "id": { "type": "string" },
                      "cardToken": { "type": "string" },
                      "lastFourDigits": { "type": "string" },
                      "activatedAt": { "type": "string", "format": "date-time", "nullable": true },
                      "virtual": { "type": "boolean" },
                      "statusCode": {
                        "type": "number",
                        "description": "Card status code from payment processor. Possible values:\n- 1000: Active\n- 1001: Refer to Issuer\n- 1004: Capture\n- 1005: Declined\n- 1006: Pin Blocked\n- 1007: Declined\n- 1008: Honour with ID\n- 1009: Void\n- 1041: Lost\n- 1043: Stolen\n- 1054: Expired\n- 1154: Expired\n- 1062: Restricted\n- 1199: Void\n",
                        "enum": [1000, 1001, 1004, 1005, 1006, 1007, 1008, 1009, 1041, 1043, 1054, 1154, 1062, 1199]
                      },
                      "statusName": {
                        "type": "string",
                        "description": "Human-readable card status name corresponding to statusCode:\n- \"Active\": Card is active and can be used\n- \"Refer to Issuer\": Transaction requires issuer approval\n- \"Capture\": Card should be captured/retained\n- \"Declined\": All transactions are declined\n- \"Pin Blocked\": Card PIN is blocked due to incorrect attempts\n- \"Honour with ID\": Transaction requires ID verification\n- \"Void\": Card is voided/cancelled\n- \"Lost\": Card is reported as lost\n- \"Stolen\": Card is reported as stolen\n- \"Expired\": Card has expired\n- \"Restricted\": Card has restrictions applied\n- \"Unknown\": Status code not recognized\n"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "description": "No cards found" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/cards/virtual": {
      "post": {
        "summary": "Create a Virtual Card",
        "tags": ["Card Management"],
        "description": "Creates a virtual card without requiring a Card Order.\nVirtual cards are free and activated immediately.\nNo shipping address or payment validation is required.\n\n**Card Limits**: Users can have a maximum of 5 active cards (physical + virtual combined).\nActive cards exclude voided, lost, and stolen cards.\n",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "201": {
            "description": "Virtual card created successfully",
            "content": {
              "application/json": { "schema": { "type": "object", "properties": { "cardId": { "type": "string" } } } }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "409": { "description": "User already has a card or card order in progress" },
          "422": {
            "description": "Unprocessable Entity - User validation failed. Possible reasons:\n- User has reached the maximum number of active cards (5)\n- User needs to complete KYC successfully\n- User's source of funds is not completed\n- User has incompatible risk score\n- User does not have a verified phone number\n- User's name is not set or contains invalid characters\n- User's address is not set\n- User's country is not supported\n- Could not create virtual card due to safe misconfiguration\n"
          },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/api/v1/cards/transactions": {
      "get": {
        "summary": "List Card Transactions",
        "description": "Retrieves paginated transactions for all activated cards of the authenticated user.\n\nReturns three types of transaction events:\n- **Payment**: Regular card transactions (purchases, ATM withdrawals). Can appear immediately after authorization with `isPending: true`, then update when cleared.\n- **Refund**: Money returned to your account (product returns, cancellations). Only appears after both authorization and clearing are processed.\n- **Reversal**: Cancellation of previous transactions due to technical issues or merchant corrections. Can appear immediately after authorization-level reversals.\n\nThe final number might differ slightly, as one thread might contain multiple transactions.\n",
        "tags": ["Transactions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "cardTokens",
            "schema": { "type": "string" },
            "description": "Comma-separated list of card tokens"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "integer", "default": 100, "minimum": 10 },
            "description": "Maximum number of transactions to return"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": { "type": "integer", "default": 0, "minimum": 0 },
            "description": "Number of transactions to skip"
          },
          {
            "in": "query",
            "name": "before",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Filter transactions before this date (ISO 8601 format, e.g., \"2023-04-01T00:00:00Z\")"
          },
          {
            "in": "query",
            "name": "after",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Filter transactions after this date (ISO 8601 format, e.g., \"2023-03-01T00:00:00Z\")"
          },
          {
            "in": "query",
            "name": "billingCurrency",
            "schema": { "type": "string" },
            "description": "Filter by billing currency code"
          },
          {
            "in": "query",
            "name": "transactionCurrency",
            "schema": { "type": "string" },
            "description": "Filter by transaction currency code"
          },
          {
            "in": "query",
            "name": "mcc",
            "schema": { "type": "string" },
            "description": "Filter by Merchant Category Code (MCC)"
          },
          {
            "in": "query",
            "name": "transactionType",
            "schema": { "type": "string" },
            "description": "Filter by transaction type code (e.g., \"00\" for Purchase, \"01\" for Withdrawal)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with paginated transaction events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Total number of transactions available",
                      "example": 25
                    },
                    "next": {
                      "type": "string",
                      "nullable": true,
                      "description": "URL for the next page of results, null if no more pages",
                      "example": "/api/v1/cards/transactions?limit=100&offset=100"
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true,
                      "description": "URL for the previous page of results, null if on first page",
                      "example": null
                    },
                    "results": {
                      "type": "array",
                      "description": "Array of transaction events for the current page",
                      "items": { "$ref": "#/components/schemas/Event" }
                    }
                  }
                },
                "examples": {
                  "payment_pending": {
                    "summary": "Payment (Pending)",
                    "description": "A pending card payment that hasn't been cleared yet",
                    "value": [
                      {
                        "createdAt": "2024-01-15T14:30:00Z",
                        "clearedAt": null,
                        "isPending": true,
                        "kind": "Payment",
                        "status": "Approved",
                        "country": { "name": "United Kingdom", "numeric": "826", "alpha2": "GB", "alpha3": "GBR" },
                        "mcc": "5411",
                        "merchant": {
                          "name": "TESCO STORES",
                          "city": "LONDON",
                          "country": { "name": "United Kingdom", "alpha2": "GB" }
                        },
                        "billingAmount": "2550",
                        "billingCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactionAmount": "2199",
                        "transactionCurrency": { "symbol": "£", "code": "GBP", "decimals": 2, "name": "British Pound" },
                        "transactionType": "00",
                        "cardToken": "4532********1234",
                        "transactions": [
                          {
                            "status": "ExecSuccess",
                            "to": "0x1234567890abcdef1234567890abcdef12345678",
                            "value": "2550000000000000000000",
                            "data": "0xa9059cbb",
                            "hash": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                          }
                        ]
                      }
                    ]
                  },
                  "payment_cleared": {
                    "summary": "Payment (Cleared)",
                    "description": "A cleared card payment that has been settled",
                    "value": [
                      {
                        "createdAt": "2024-01-14T09:15:00Z",
                        "clearedAt": "2024-01-15T02:30:00Z",
                        "isPending": false,
                        "kind": "Payment",
                        "status": "Approved",
                        "country": { "name": "Germany", "numeric": "276", "alpha2": "DE", "alpha3": "DEU" },
                        "mcc": "5814",
                        "merchant": {
                          "name": "STARBUCKS",
                          "city": "BERLIN",
                          "country": { "name": "Germany", "alpha2": "DE" }
                        },
                        "billingAmount": "450",
                        "billingCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactionAmount": "450",
                        "transactionCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactionType": "00",
                        "cardToken": "4532********1234",
                        "transactions": [
                          {
                            "status": "ExecSuccess",
                            "to": "0x1234567890abcdef1234567890abcdef12345678",
                            "value": "450000000000000000000",
                            "data": "0xa9059cbb",
                            "hash": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                          }
                        ]
                      }
                    ]
                  },
                  "refund": {
                    "summary": "Refund",
                    "description": "A refund transaction returning money to the account",
                    "value": [
                      {
                        "createdAt": "2024-01-13T16:45:00Z",
                        "clearedAt": "2024-01-14T08:20:00Z",
                        "isPending": false,
                        "kind": "Refund",
                        "country": { "name": "France", "numeric": "250", "alpha2": "FR", "alpha3": "FRA" },
                        "mcc": "5651",
                        "merchant": {
                          "name": "H&M PARIS",
                          "city": "PARIS",
                          "country": { "name": "France", "alpha2": "FR" }
                        },
                        "billingAmount": "7500",
                        "billingCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactionAmount": "7500",
                        "transactionCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactionType": "20",
                        "cardToken": "4532********1234",
                        "refundAmount": "7500",
                        "refundCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactions": [
                          {
                            "status": "ExecSuccess",
                            "to": "0x1234567890abcdef1234567890abcdef12345678",
                            "value": "7500000000000000000000",
                            "data": "0xa9059cbb",
                            "hash": "0x9876543210fedcba9876543210fedcba9876543210fedcba9876543210fedcba"
                          }
                        ]
                      }
                    ]
                  },
                  "reversal": {
                    "summary": "Reversal",
                    "description": "A transaction reversal canceling a previous payment",
                    "value": [
                      {
                        "createdAt": "2024-01-12T11:20:00Z",
                        "clearedAt": "2024-01-12T11:25:00Z",
                        "isPending": false,
                        "kind": "Reversal",
                        "country": { "name": "Netherlands", "numeric": "528", "alpha2": "NL", "alpha3": "NLD" },
                        "mcc": "5999",
                        "merchant": {
                          "name": "ONLINE STORE",
                          "city": "AMSTERDAM",
                          "country": { "name": "Netherlands", "alpha2": "NL" }
                        },
                        "billingAmount": "1200",
                        "billingCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactionAmount": "1200",
                        "transactionCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactionType": "00",
                        "cardToken": "4532********1234",
                        "reversalAmount": "1200",
                        "reversalCurrency": { "symbol": "€", "code": "EUR", "decimals": 2, "name": "Euro" },
                        "transactions": [
                          {
                            "status": "ExecSuccess",
                            "to": "0x1234567890abcdef1234567890abcdef12345678",
                            "value": "1200000000000000000000",
                            "data": "0xa9059cbb",
                            "hash": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/delay-relay": {
      "get": {
        "summary": "List Delayed Transactions",
        "description": "Returns an array of delayed transactions associated with the authenticated user, excluding failed transactions.",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "A list of delayed transactions for the authenticated user.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/DelayTransaction" } }
              }
            }
          },
          "401": { "description": "Unauthorized, missing or invalid token." },
          "500": { "description": "Internal server error." }
        }
      }
    },
    "/api/v1/order/": {
      "get": {
        "tags": ["Physical Card Order"],
        "summary": "List Physical Card Orders",
        "description": "Retrieves all physical card orders for the authenticated user",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "The card orders for the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["id", "userId", "status", "personalizationSource", "totalDiscountEUR", "createdAt"],
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The unique identifier of the card order.",
                        "example": "123e4567-e89b-12d3-a456-426614174000"
                      },
                      "transactionHash": {
                        "type": "string",
                        "nullable": true,
                        "description": "The on-chain transaction hash associated with the order.",
                        "example": "0x123abc..."
                      },
                      "embossedName": {
                        "type": "string",
                        "nullable": true,
                        "description": "The name embossed on the card.",
                        "example": "John Doe"
                      },
                      "address1": {
                        "type": "string",
                        "nullable": true,
                        "description": "The first line of the shipping address."
                      },
                      "address2": {
                        "type": "string",
                        "nullable": true,
                        "description": "The second line of the shipping address."
                      },
                      "city": {
                        "type": "string",
                        "nullable": true,
                        "description": "The city of the shipping address."
                      },
                      "postalCode": {
                        "type": "string",
                        "nullable": true,
                        "description": "The postal code of the shipping address."
                      },
                      "state": {
                        "type": "string",
                        "nullable": true,
                        "description": "The state of the shipping address."
                      },
                      "country": {
                        "type": "string",
                        "nullable": true,
                        "description": "The country of the shipping address."
                      },
                      "userId": { "type": "string", "description": "The user id for this card order." },
                      "status": {
                        "type": "string",
                        "description": "Current order status",
                        "enum": [
                          "PENDINGTRANSACTION",
                          "TRANSACTIONCOMPLETE",
                          "CONFIRMATIONREQUIRED",
                          "READY",
                          "CARDCREATED",
                          "FAILEDTRANSACTION",
                          "CANCELLED"
                        ]
                      },
                      "personalizationSource": { "type": "string", "enum": ["KYC", "ENS"] },
                      "couponCode": {
                        "type": "string",
                        "description": "The coupon code tied to this card order",
                        "example": "DISCOUNT2023"
                      },
                      "totalAmountEUR": { "type": "number", "nullable": true, "example": 20.99 },
                      "totalDiscountEUR": { "type": "number", "example": 1.99 },
                      "createdAt": {
                        "type": "string",
                        "description": "When the order was created",
                        "format": "date-time",
                        "example": "2023-01-09T13:45:30Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Details about the server error.",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/safe/config": {
      "get": {
        "summary": "Retrieve Safe Configuration",
        "description": "Returns the configuration of the Safe account associated with the authenticated user, including deployment status, approvals, and account status and allowance details from the chain.",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successfully retrieved Safe configuration.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SafeConfig" } } }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "description": "Internal server error." }
        }
      }
    },
    "/api/v1/safe/deploy": {
      "post": {
        "summary": "Deploy and Setup a Safe",
        "description": "Deploys and sets up the Safe account for the authenticated user.\nThe User needs to be KYC approved.\n\nThis endpoint replaces the `POST /api/v1/account` and related endpoints.\nUsing this endpoint, the user can deploy the Safe without having to sign the data.\n\nTo monitor the deployment status, call the `GET /api/v1/safe/deploy` endpoint.\n",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "202": {
            "description": "Accepted the deployment request. The partner should check the status of the deployment with the GET /api/v1/safe/deploy endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the deployment.",
                      "example": "accepted"
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": {
            "description": "Forbidden. Missing signer address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "description": "Error message" } }
                },
                "examples": { "missingSignerAddress": { "value": { "error": "Missing signer address" } } }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Safe account already exists or user is not KYC approved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "description": "Error message" } }
                },
                "examples": {
                  "safeAccountAlreadyExists": { "value": { "error": "Safe account already exists" } },
                  "kycRequired": { "value": { "error": "User is not KYC approved" } }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "get": {
        "summary": "Get the Safe deployment status.",
        "description": "Returns the deployment status of the Safe account for the authenticated user.",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successfully retrieved the deployment status of the Safe account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["ok", "not_deployed", "processing", "failed"],
                      "description": "The status of the deployment.",
                      "example": "ok"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp of the last update.",
                      "example": "2021-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/safe/reset": {
      "delete": {
        "summary": "Reset Safe Account",
        "description": "Permanently deletes the Safe account for the authenticated user. This operation is irreversible and should be used with caution.\n\n**Prerequisites for Safe Reset:**\n- Safe account must exist for the user\n- Safe account must not be in a properly configured state (AccountIntegrityStatus.Ok)\n- Safe account must not have transactions in the delay queue (AccountIntegrityStatus.DelayQueueNotEmpty)\n- User must not have any active (non-voided) cards linked to the Safe\n- Safe account must have zero token balance (all tokens must be withdrawn first)\n\n**Use Cases:**\n- Reset a Safe account that failed during deployment or setup\n- Clean up a Safe account that is in an inconsistent state\n- Remove a Safe account before creating a new one\n\n**Important Notes:**\n- This operation permanently deletes the Safe account record from the database\n- The actual Safe contract on-chain is not affected by this operation\n- Users will need to deploy a new Safe account after reset\n",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successfully reset the Safe account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message confirming the Safe account was reset",
                      "example": "Safe account reset successfully"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Safe Reset Success",
                    "description": "The Safe account has been successfully reset and deleted",
                    "value": { "message": "Safe account reset successfully" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "Safe account not found for the authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating no Safe account exists",
                      "example": "Safe account not found"
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "summary": "Safe Account Not Found",
                    "description": "No Safe account exists for the authenticated user",
                    "value": { "message": "Safe account not found" }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Safe account cannot be reset due to validation constraints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message explaining why the Safe cannot be reset"
                    }
                  }
                },
                "examples": {
                  "alreadySetup": {
                    "summary": "Safe Already Properly Setup",
                    "description": "The Safe account is already in a properly configured state",
                    "value": { "message": "Safe account is already properly setup" }
                  },
                  "delayQueueNotEmpty": {
                    "summary": "Delay Queue Not Empty",
                    "description": "The Safe account has pending transactions in the delay queue",
                    "value": {
                      "message": "Safe account is already properly setup and has transactions in the delay queue"
                    }
                  },
                  "hasActiveCards": {
                    "summary": "Active Cards Linked",
                    "description": "The Safe account has active cards that must be voided first",
                    "value": { "message": "Safe account has cards linked to it, please void them first" }
                  },
                  "hasTokenBalance": {
                    "summary": "Non-Zero Token Balance",
                    "description": "The Safe account has tokens that must be withdrawn first",
                    "value": { "message": "Safe account has tokens in it, please withdraw them first" }
                  },
                  "balanceCheckError": {
                    "summary": "Balance Check Failed",
                    "description": "Unable to check the Safe account balance, please try again later",
                    "value": { "message": "Error fetching safe balance, please try again later" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred during the reset operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Generic error message for internal server errors",
                      "example": "Internal server error."
                    }
                  }
                },
                "examples": {
                  "internalError": {
                    "summary": "Internal Server Error",
                    "description": "An unexpected error occurred while processing the reset request",
                    "value": { "message": "Internal server error." }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/safe/set-currency": {
      "post": {
        "summary": "Set Safe Currency",
        "deprecated": true,
        "description": "This endpoint sets the appropriate token symbol (currency) for a user's Safe account based on their country.\nIt should be called after deploying a Safe account using the /api/v1/account endpoint.\n\nThe system assigns currencies based on user's country:\n- UK users (GB): GBPe\n- Brazil users (BR): USDCe\n- Users from other countries: EURe (default)\n\nPrerequisite: User must have completed and passed KYC verification.\n",
        "tags": ["Safe Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successfully set the currency for the Safe account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenSymbol": {
                      "type": "string",
                      "enum": ["EURe", "GBPe", "USDCe"],
                      "description": "The token symbol set for the Safe account"
                    }
                  }
                },
                "examples": { "success": { "value": { "tokenSymbol": "EURe" } } }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., no Safe account found for user)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "description": "Error message" } }
                },
                "examples": { "noSafe": { "value": { "error": "No Safe associated with user found in DB" } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "422": {
            "description": "User needs to complete KYC successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "description": "Error message" } }
                },
                "examples": { "kycRequired": { "value": { "error": "User needs to complete KYC successfully" } } }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/source-of-funds": {
      "post": {
        "summary": "Answer Source of Funds questions",
        "tags": ["KYC"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/KycAnswer" } } }
          }
        },
        "responses": {
          "200": {
            "description": "Source of Funds answers submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string", "example": "Source of funds submitted" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "get": {
        "summary": "Retrieve Source of Funds questions",
        "tags": ["KYC"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "schema": { "type": "string" },
            "description": "The locale for translating currency values (e.g., 'BR', 'UK')"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the Source of Funds questions.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/KycQuestion" } }
              }
            }
          },
          "401": {
            "description": "Unauthorized access.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "description": "Error message." } }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/api/v1/transactions/{threadId}/dispute": {
      "post": {
        "summary": "Dispute a Transaction",
        "description": "Create a ticket to dispute a transaction. The list of available dispute reason keys can be found in the `GET /api/v1/transactions/dispute` endpoint.\nIf the dispute reason is `unrecognized_transaction_report_fraudulent`, the user's card will be restricted.\n",
        "tags": ["Transactions"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "threadId",
            "required": true,
            "schema": { "type": "string" },
            "description": "The thread ID of the transaction to dispute",
            "example": "1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["disputeReason"],
                "properties": {
                  "disputeReason": {
                    "type": "string",
                    "enum": [
                      "purchase_cancelled_but_no_refund_received",
                      "problem_with_the_product_chargeback_",
                      "problem_with_service_subscription_chargeback",
                      "wrong_installment_number",
                      "wrong_value",
                      "charged_more_than_once",
                      "unrecognized_transaction_report_fraudulent"
                    ],
                    "description": "The reason for disputing the transaction",
                    "example": "purchase_cancelled_but_no_refund_received"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Dispute submitted for review",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string", "example": "Dispute submitted for review" } }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Thread ID or dispute reason is required/invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Valid dispute reason is required" },
                    "validReasons": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": ["purchase_cancelled_but_no_refund_received", "problem_with_the_product_chargeback_"]
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": {
            "description": "Transaction not found or does not belong to user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Transaction not found or does not belong to user" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Transaction has already been disputed",
            "content": {
              "application/json": {
[...]
