@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Obviously Wide";
  src:
    url("../public/Obviously-Wide.woff") format("woff"),
    url("../public/Obviously-Wide.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Obviously Wide";
  src:
    url("../public/Obviously-Wide_Medium.woff") format("woff"),
    url("../public/Obviously-Wide_Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Obviously Wide";
  src:
    url("../public/Obviously-Wide_Semibold.woff") format("woff"),
    url("../public/Obviously-Wide_Semibold.woff2") format("woff2");
  font-weight: 600;
}

input.vi {
  --tw-ring-offset-shadow: 0;
}
