NEXT_PUBLIC_GNOSIS_PAY_API_URL="http://localhost:3001"
#NEXT_PUBLIC_GNOSIS_PAY_API_URL="https://api.dev.gnosispay.com"

NEXT_PUBLIC_WALLET_CONNECT_ID=

NEXT_PUBLIC_PAYMENTOLOGY_PUBLIC_KEY=

NEXT_PUBLIC_INTERCOM_APP_ID=

NEXT_PUBLIC_ENABLE_INTERCOM=false

SENDGRID_SECRET=

NEXT_PUBLIC_ENABLE_MARKETING_SCRIPTS=false