# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary

API_KEY="06d12ac6a0msh4675ffaddb0022ap18724ajsn42f2ed67a3b4"

CLIENT_CERT = ""
CLIENT_KEY = ""

GNOSIS_PSE_API_URL="https://api-pse.stg.gnosispay.com"