@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --brand-600: #BBCB4B;
  --brand-500: #CDDF52;
  --brand-400: #E4EEA1;
  --brand-300: #F6F9E0;
  --error-900: #441504;
  --error-600: #C53030;
  --error-500: #ED7070;
  --error-400: #FFB3B3;
  --error-300: #FFE3E3;
  --warning-600: #E34510;
  --warning-500: #FF8061;
  --warning-400: #FFBC9F;
  --warning-300: #FFEDE5;
  --success-600: #388E3C;
  --success-500: #00B460;
  --success-400: #81C784;
  --success-300: #EFFAF1;
  --success-100: #EFFCEF;
  --info-600: #52BFDC;
  --info-500: #5FDDFF;
  --info-400: #B7F0FF;
  --info-300: #D7F6FF;
  --neutral-900: #000000;
  --neutral-800: #121211;
  --neutral-700: #1B1B1A;
  --neutral-600: #30302F;
  --neutral-500: #666564;
  --neutral-400: #A3A2A0;
  --neutral-300: #E0DFDC;
  --neutral-200: #F0EEEB;
  --neutral-100: #F5F3F0;
  --neutral-50: #FFFFFF;

  /* Theme Variables - Light Mode */
  --radius: 0.625rem;
  --background: var(--neutral-100);
  --foreground: var(--neutral-900);
  --card: var(--neutral-50);
  --card-foreground: var(--neutral-900);
  --popover: var(--neutral-50);
  --popover-foreground: var(--neutral-900);
  --primary: var(--neutral-900);
  --primary-foreground: var(--neutral-50);
  --secondary: var(--neutral-500);
  --secondary-foreground: var(--neutral-900);
  --muted: var(--neutral-200);
  --muted-foreground: var(--neutral-500);
  --accent: var(--neutral-200);
  --accent-foreground: var(--neutral-900);
  --destructive: var(--error-500);
  --destructive-foreground: var(--neutral-50);
  --destructive-hover: var(--error-900);
  --primary-hover: var(--brand-600);
  --border: var(--neutral-300);
  --input: var(--neutral-200);
  --ring: var(--brand-500);
  --chart-1: #08be3c;
  --chart-2: #5fd0ff;
  --chart-3: #ff8d61;
  --chart-4: #ac2c3b;
  --chart-5: #12ff80;
  --sidebar: var(--neutral-50);
  --sidebar-foreground: var(--neutral-900);
  --sidebar-primary: var(--neutral-900);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: var(--neutral-200);
  --sidebar-accent-foreground: var(--neutral-900);
  --sidebar-border: var(--neutral-200);
  --sidebar-ring: var(--brand-500);
  --color-button-bg: var(--brand-500);
  --color-button-bg-hover: var(--brand-600);
  --color-link-active: var(--neutral-900);
  --color-link-secondary: var(--neutral-500);
  --color-icon-card-bg: var(--neutral-200);
  --color-icon-card: var(--neutral-500);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-button-black: var(--neutral-900);
  --color-button-bg: var(--color-button-bg);
  --color-button-bg-hover: var(--color-button-bg-hover);
  --color-link-active: var(--color-link-active);
  --color-link-secondary: var(--color-link-secondary);
  --color-icon-card-bg: var(--color-icon-card-bg);
  --color-icon-card: var(--color-icon-card);
}

.dark {
  /* Theme Variables - Dark Mode */
  --background: var(--neutral-800);
  --foreground: var(--neutral-50);
  --card: var(--neutral-700);
  --card-foreground: var(--neutral-50);
  --popover: var(--neutral-800);
  --popover-foreground: var(--neutral-50);
  --primary: var(--neutral-50);
  --primary-foreground: var(--neutral-50);
  --secondary: var(--neutral-400);
  --secondary-foreground: var(--neutral-50);
  --muted: var(--neutral-800);
  --muted-foreground: var(--neutral-400);
  --accent: var(--neutral-800);
  --accent-foreground: var(--neutral-50);
  --destructive: var(--error-500);
  --destructive-foreground: var(--neutral-50);
  --destructive-hover: var(--error-900);
  --primary-hover: var(--brand-400);
  --border: var(--neutral-600);
  --input: var(--neutral-700);
  --ring: var(--brand-500);
  --chart-1: #08be3c;
  --chart-2: #5fd0ff;
  --chart-3: #ff8d61;
  --chart-4: #ac2c3b;
  --chart-5: #12ff80;
  --sidebar: var(--neutral-800);
  --sidebar-foreground: var(--neutral-50);
  --sidebar-primary: var(--neutral-900);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: var(--neutral-800);
  --sidebar-accent-foreground: var(--neutral-50);
  --sidebar-border: var(--neutral-700);
  --sidebar-ring: var(--brand-500);
  --color-button-bg: var(--brand-500);
  --color-button-bg-hover: var(--brand-600);
  --color-link-active: var(--brand-500);
  --color-link-secondary: var(--neutral-50);
  --color-icon-card-bg: var(--neutral-600);
  --color-icon-card: var(--neutral-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
